spring:
  datasource:
    username: root
    password: 여기에_루트_비밀번호   # .env의 MYSQL_ROOT_PASSWORD와 동일하게

jwt:
  secret: 여기에_JWT_시크릿_Base64  # .env의 JWT_SECRET과 동일하게

kto:
  service-key: "여기에_한국관광공사_API키"   # .env의 KTO_SERVICE_KEY와 동일하게

odsay:
  api-key: "여기에_ODsay_API키"              # .env의 ODSAY_API_KEY와 동일하게

kakao:
  rest-api-key: "여기에_카카오_REST_API키"   # .env의 KAKAO_REST_API_KEY와 동일하게
